<html ng-app="myApp">

  <head>
    <title>Bookings</title>
    <link rel="stylesheet" href="Content\css\styles.css">
    <script src="app\lib\angular.min.js"></script>
    <script src="app\lib\dirPagination.js"></script>
    <script src="app\app.js"></script>
  </head>

  <body ng-controller="MainController">

    <header ng-include="'header.html'"></header>
    <div class="content">
      <div class="filters">
        <div id="filterByCities">
          Sort by City:
          <select ng-model="orderCity">
            <option ng-repeat="city in cityArray" value="{{city}}">{{city}}</option>
          </select>
        </div>
        <div id="filterByAppStatus">
          <span>Sort by Application Status:</span>
          <select ng-model="orderAppStatus">
            <option ng-repeat="status in statusArray" value="{{status}}" place>{{status}}</option>
          </select>
        </div>
      </div>
      <center><input type="text" ng-model="searchBooking" placeholder="Search for a booking" /><center>
      <table class="displayBookings">
        <thead>
          <tr>
            <th>Appointment Id</th>
            <th>Appointment Start Date</th>
            <th>Appointment Start Time</th>
            <th>City</th>
            <th>Appointment Status</th>
            <th>Consumer Name</th>
            <th>Consumer Mobile Number</th>
            <th>Franchise Name</th>
            <th>Artist Name</th>
            <th>Services</th>
            <th>Booking Final Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr dir-paginate="booking in bookings.appointments | filter: searchBooking | filter: orderAppStatus | filter: orderCity | itemsPerPage: 5">
            <td>{{booking.appointment.appointmentId}}</td>
            <td>{{booking.appointment.appointmentStartTS | date: "dd/MM/yyyy"}}</td>
            <td>{{booking.appointment.appointmentStartTS | date: "h:mm a"}}</td>
            <td>{{booking.appointment.city.name | uppercase}}</td>
            <td id="appStatus"><span>{{booking.appointment.status}}</span></td>
            <td>{{booking.consumer.firstName | uppercase}}</td>
            <td>{{booking.consumer.mobileNumber}}</td>
            <td>{{booking.franchise.franchiseName | uppercase}}</td>
            <td>{{booking.artist.firstName | uppercase}}</td>
            <td><span ng-repeat="service in booking.subCategories"><ul>
              <li style="float: left;">{{service.name}}</li>
            </ul></span><br></td>
            <td>{{booking.payment.finalAmount}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="">
      <section id="footer">
        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" auto-hide="true"></dir-pagination-controls>
      </section>
    </div>
  </body>
</html>
